#In older versions of studio, local entity dlls are stored in a different directory, hence the below code
#Ignore .local files without ignoring dataservice object .dlls
.local/
!.local/**/*.dlls#Ignore Debug And Design-Time Settings, Don't Ignore Release Settings
.settings/Debug/
.settings/Design/